<h2>Your tasks</h2>
<ul class="list-group">
    {{#each todos}}
    {{#if completed}}
        <li class="list-group-item list-group-item-success">
    {{else}}
        <li class="list-group-item">
    {{/if}}
        <form method="POST">
            <div class="input-group">
                {{#if completed}}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" checked name="complete">
                    </div>
                </div>
                <input type="text" class="form-control" readonly value="{{title}}">
                {{else}}
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="complete">
                    </div>
                </div>
                <input type="text" class="form-control" readonly value="{{title}}">
                {{/if}}
                <input type="hidden" value="{{_id}}" name="id">
                <button type="submit" class="btn btn-primary ml-3" formaction="/completed"><i class="fas fa-check"></i></button>
                <button type="submit" class="btn btn-danger ml-3" formaction="/remove"><i class="fas fa-trash"></i></button>
            </div>
        </form>
    </li>
    {{/each}}
</ul>